:root {
   --primary-color: #E09108;
   --secondary-color: #ffffff;
   --background-color: #ffffff;

   --button-border-color: #E09108;
   --button-background-color: #ffffff;

   --year-2023: #A60303;
   --year-2022: #9A00C4;
   --year-2021: #E09108;

   --text-color: #ffffff;

   --main-color-background: #292929;
}