:root {
   --primary-color: #E09108;
   --secondary-color: #ffffff;
   --background-color: #ffffff;

   --button-border-color: #ffffff;
   --button-background-color: #ffffff;

   --year-2023: #ffffff;
   --year-2022: #ffffff;
   --year-2021: #ffffff;

   --text-color: #ffffff;
}