:root {
    --footer-height: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: var(--footer-height);
    background-color: var(--primary-color);
    box-shadow: 0px 2px 5px rgba(00, 00, 00, 0.5);
}

footer .logo-wrapper {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

footer .logo-wrapper:hover {
    transform: scale(1.1, 1.1);
}

footer .logo-wrapper>img {
    height: 30px;
    filter: drop-shadow(-2px 0px 5px rgba(255, 255, 255, 0.5))
}

footer p {
    color: var(--text-color);
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
}

footer .social-media-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer .instagram_Logo img,
footer .artStation_Logo img {
    height: 25px;
    transition: .2s ease-in-out;
}

footer .instagram_Logo img:hover,
footer .artStation_Logo img:hover {
    transform: scale(1.1, 1.1)
}

@media screen and (max-width:600px) {
    footer>p {
        padding: 0 20px;
    }
}