header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 5px rgba(00, 00, 00, 0.5);
}

header .logo-wrapper {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

header .logo-wrapper:hover {
    transform: scale(1.1, 1.1);
}

header .logo-wrapper>img {
    height: 50px;
    filter: drop-shadow(-2px 0px 5px rgba(255, 255, 255, 0.5))
}

header .tabs-list {
    display: flex;
    gap: 50px;
    margin-right: 15px;
    height: fit-content;
    font-size: 20px;
    list-style: none;
    color: #ffffff;
}

header .tab-item {
    position: relative;
    cursor: pointer;
}

header .tab-item:not([id="3D_models"]):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: -4px;
    transform: scaleX(0);
    background: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

header .tab-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header .tab-item:hover {
    border-color: #ffffff;
}

/*
DEACTIVATE 3D MODELS (STILL UNDER DEVELOPMENT)
*/

[id="3D_models"] p {
    color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

.mobile-menu-icon {
    position: absolute;
    right: 25px;
    color: #ffffff;
    cursor: pointer;
    font-size: 35px !important;
}

.hidden {
    display: none;
}

@media screen and (max-width:600px) {

    .mobile-menu-icon {
        display: block;
    }

    header .tab-item {
        display: none;
    }

    .mobile-background {
        z-index: 3;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.25);
        height: 100vh;
        width: 100vw;
    }

    @keyframes displayMenu {
        0% {
            transform: translateX(400px);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: translateX(0px);
        }
    }

    .mobile-menu {
        z-index: 4;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 75%;
        background-color: var(--main-color-background);
    }

    .open-menu-anim {
        animation: displayMenu 1s;
    }

    .close-menu-anim {
        animation: displayMenu 1s reverse;
    }

    .mobile-menu .tabs-list {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu .separator {
        width: 50%;
        border-bottom: solid 1px #ffffff;
    }

    .mobile-menu .tab-item {
        color: #ffffff;
        list-style: none;
        font-size: 35px;
        cursor: pointer;
        transition: 0.2s;
    }

    .mobile-menu .tab-item:hover {
        color: #ffffff88;
    }

    .mobile-menu .close-menu-icon {
        position: absolute;
        top: 25px;
        left: 25px;
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
    }

    .mobile-menu .logo {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
    }

    .mobile-media-link {
        position: absolute;
        bottom: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .mobile-media-link img {
        width: 50px;
        transition: 0.3s;
    }

    .mobile-media-link img:hover {
        transform: scale(1.1);
    }

}