*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3[data-theme="dark"] {
  color: white;
}

p[data-theme="dark"] {
  color: white;
}

h2[data-theme="dark"] {
  color: white;
}
.list_title[data-theme="dark"] {
  color: white;
}
h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

li {
  width: fit-content;
}

.main-container {
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.choice {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.choice img {
  max-width: 100%;
  vertical-align: middle;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.main {
  background-color: #ebeaea19;
  width: 100%;
  padding: 4%;
  padding-top: 10vh;
}

.titre {
  text-align: center;
  color: #e09108;
  font-size: 3rem;
  font-weight: 400;
}

.sous-titre {
  text-align: center;
}

.card_content {
  background-color: #d9d9d9;
  border-radius: 0.25rem;
  padding: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_text1 {
  margin: 2%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_text p {
  margin: 0;
}

.card_title {
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0;
}

.lists_item_1 {
  display: flex;
  width: 100%;
}

#list-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.lists_item_left {
  display: flex;
  width: 100%;
}

.list {
  max-width: 50%;
  padding: 2%;
  background-color: #d9d9d9;
  margin: 2%;
  height: fit-content;
}

.list_content_left {
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-right: 10%;
}
.list_content_right {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: end;
  justify-content: center;
  padding-left: 10%;
}

.list_title {
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: bold;
  padding-right: 10%;
}

.list_item p {
  font-size: 1.4em;
  line-height: 1.4;
  justify-content: end;
}

.list img {
  width: 400px;
  height: 350px;
  object-fit: cover;
}

/* smartphone */
@media screen and (max-width: 767px) {

  .lists_item p {
    font-size: 1em;
  }
  .lists_item {
    display: flex;
    flex-direction: column;
  }
  .list_title {
    align-self: center;
    padding: 0;
  }
}

/* tablet */
@media screen and (min-width: 767px) and (max-width: 1023) {
}

/* desktop */
@media screen and (min-width: 1024px) {
}

.card-container {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #000000;
}

.card {
  width: 19%;
  margin: 1%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.card img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin: 20px;

}
