body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--text-color);
}

main {
    position: relative;
    background-color: var(--background-color);
    color: #ffffff;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}

section h3 {
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

section h3 span {
    color: var(--year-2021);
}

section h4 {
    font-size: 30px;
    font-weight: 400;
}

section p {
    font-size: 18px;
    line-height: 150%;
}

section li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 15px;
}

.print-techniques li {
    margin-bottom: 5px;
}

.project-steps .step h4 {
    margin-bottom: 10px;
}

.project-steps .step p {
    margin-left: 10px;
}

.software-logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.software-logo_wrapper img {
    max-width: 150px;
}

.software-desc {
    width: 80%;
}

.figurine-complexity h4 {
    margin-bottom: 15px;
    text-align: center;
}

.figurine-complexity ul li {
    margin-left: 25px;
    list-style: circle;
}

.printing-duration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printing-duration li {
    width: 80%;
}

.printing-manual {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printing-manual p {
    margin-bottom: 15px;
}

.download-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: fit-content;
    color: var(--text-color);
    ;
    border: solid 1px var(--year-2021);
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
}

.download-btn:hover {
    background-color: var(--year-2021);
}

.download-btn span {
    margin-left: 5px;
}

@media screen and (max-width:600px) {
    .software-logo_wrapper {
        max-width: 500px;
        flex-wrap: wrap;
    }

    .download-btn {
        background-color: var(--year-2021);
    }

    .section ul {
        padding: 0;
    }

    .figurine-complexity {
        padding: 0;
    }
}