@font-face {
	font-family: 'Foundation';
	src: url('../assets/fonts/FoundationTitlesHand-v0.85.ttf')
}

/* style du header de la page d'accueil */
header{
    z-index: 100;
    background-color: #E09108;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
    height: 65px;
    padding: 10px;
    position: fixed;
    width: 100%;
}

/* style du logo dans le header */
a.navbar-brand{
    color: white;
    margin-left: 15px;
    font-size: 1.5em;
    float: left;
    width: 20%;
}

/* style du menu */
.nav-bar{
    float : right;
   bottom : 0px;
}  

a.nav-link{
    color: #3b2909;
}

a.nav-link:hover{
    color: #ffffff;
}

.nav-link.active{
    color : white;
}

/* style du footer -- identique sur toutes les pages */
footer{
    background-color: #2C2C2C;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.200);
    height: 65px;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    position: static;
    width: 100%;
}

/* style global de la page */

div.global-container{
    background-color: #2C2C2C;
    color: white;
}

.main-container{
    background-color: #05030010;
    /* box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.010); */
    min-height: 900px;
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    padding-top: 60px;
}

/* sous parties  */

div.sub-faction-container{
    margin-top: 200px;
    text-align: center;
}

/* style du caroussel de photos */

.carousel-item{
    width: 100%;
  height: 500px;
  overflow: hidden;
}

img.carousel{
    /* display: block;
  max-width:100%;
  max-height:500px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

/* titres */

h1{
    color: #E09108;
    font-family: 'Foundation', sans-serif;
}

/* style du paragarphe de présentation */

.presation-paragraph{
    margin-top: 40px;
    font-size: large;
}

button.lien-details{
    background-color: #E09108;
    border-radius: 10px;
    color: #000000;
    margin-top: 30px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border : 0;
}
button.lien-details:hover:not([disabled]){
    /* color: #FFFFFF; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
button.lien-details[disabled]{
    background-color: #ffffff40;
    color: #00000070;
}



/* style des liens projets par année */

a.lien-details.annee{
    margin-top: 20px;
    text-decoration : none;
    color: white;
    text-align: center;
}

a.image-annee{
    display:grid; 
    text-decoration : none;
}

a.image-annee>*{
    grid-area: 1/1/-1/-1; 
}

img.lien-projet-picture{
    margin: auto;
    max-height: 180px;
    border-radius: 50%;
    background-color: #00000020;
}
span.image-text{
    justify-content: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF00;
    margin: auto;
}

.text-hover-lien{
    margin:auto;
}

.image-annee:hover .image-text{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.9;
    color:#FFFFFF;
    margin: auto;
}
