.choix-affichage svg path {
    fill: blue !important;
}

.choice {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

#show-Card{
    grid-row: 1;
}

#show-List{
    grid-row: 2;
}

[class*="lists_item"]{
  cursor: pointer;
}

/* Base styles ========== */
figure {
    border-radius:4px;
    margin:2em;
    width:6em;
    height:6em;
    /* display:-webkit-inline-flex; */
    align-items:center;
    justify-content:center;
    transition:.2s;
    border:.5em solid #fff;
    cursor:pointer;
  }
  figure:hover { background:#222; border-color:#222; }
  figure div { transition:.2s; font-family:icon; }
  
  
  
  /* Nav (three-line) icon ========== */
  .listicon div {
    background:#fff;
    width:2.7em;
    height:.5em;
    box-shadow:0 -.8em #fff, 0  .8em #fff; }
  .navicon:hover div { box-shadow:0 -1em #fff, 0 1em #fff; font-family:"icon"; }
  
  
  
  /* Grid icon ========== */
  .gridicon div {
    background:#fff;
    width:.5em;
    height:.5em;
    box-shadow:-.8em -.8em #fff, 0 -.8em #fff, .8em -.8em #fff, -.8em 0 #fff, .8em 0 #fff, -.8em .8em #fff, 0 .8em #fff, .8em .8em #fff; }
  .gridicon:hover div { box-shadow:-1em -1em #fff, 0 -1em #fff, 1em -1em #fff, -1em 0 #fff, 1em 0 #fff, -1em 1em #fff, 0 1em #fff, 1em 1em #fff; }
  
  .choix-affichage {
    display: none;
  }
  
  .choix-affichage.active {
    display: block;
  }

  /* Team card ========== */
  .card-equipe{
    max-width: 200px;
    background-color: rgba(196, 196, 196, 0.05);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    margin-bottom: 25px;
    margin: 30px;
}

.card-equipe img{ 
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.grid-team{
    text-align: center;
}

.card-container .card{
  cursor: pointer;
}

/* Modal de détail du projet*/
#modal-detail-projet {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-container {
  position: relative;
  width: 86%;
  height: 86%;
  margin: auto;
  margin-top: 5%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: grid;
  grid-template-columns: 40% 30% 25% 5%;
  grid-template-rows: 10% 85% 5% ;
}

.modal.description {
  display: block;
  position: absolute;
  background-color: #D9D9D9;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.modal.description .text{
  display: block;
  position: absolute;
  /* background-color: #a15050; */
  width: 50%;
  height: 95%;
  margin-top: 3%;
  margin-left: 3%;
}

.modal.description .text h1{
  text-align: center;
  color: #e09108;
}

.modal.description .text h2{
  margin-top: 20px;
  text-align: center;
  color: #000000;
}

.modal.description .text p{
  margin-top: 40px;
  color: #000000;
}

.modal.photo {
  display: block;
  position: absolute;
  background-color: rgb(233, 233, 233);
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  box-shadow: 10px 10px 10px #000000;
}

#carouselExampleAutoplaying{
  height: 100%;
}

.carousel-item{
  overflow: hidden;
}

img.carousel{
  /* display: block;
max-width:100%;
max-height:500px; */
width: 100%;
height: 100%;
object-fit: cover;
margin: auto;
}
.modal.close {
  display: flex;
  position: absolute;
  z-index: 10000;
  font-size: 30px;
  font-weight: 700;
  color: #e09108;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.modal.close p{
  margin-top: 10px;
  margin-left: 30%;
}

#modal-close{
  cursor: pointer;
}

.nav-link-projet{
  color: #FFFFFF;
  right: 0;
}

/* .modal h2{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-modal {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.modal-body img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
} */